/stand/
/local/
/artifacts/
.venv/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.env
.DS_Store
/web/node_modules/
/web/_fresh/

/web/.deno-cache/
/tests/node_modules/
/pg-gym-instance/
/dist/
/var/
.ty_cache/
docs/internal
/site/
